body{
    background-color: black;
}

h2 {
    color: white;
    text-align: center;
   
}
a {
   
    color: grey;
    margin: 10px;
}

nav {
    float: right;
    margin-right: 30px;
    justify-content: space-between;
 
}
  #tee {
      position:relative;
      right: 200px;
  }

.lol {
    background-image: url(mission.jpg);
    text-align: center;
    width: 1000;
    height: 700px;
    color: border 1px solid red;
    


}

 #miss{
    background-color: black;
    position: relative;
   top: 400px;
    width: 1000px;
    color: white;

    
   
}

h4 {
    text-align: center;
    color:white;
}
p {
    color: orange;
    margin-bottom: 10px;
}

.container {
    display: flex;
    width: 1000px;
 height: 900px;
    
    background-color: black;
  justify-content: space-around;
  align-content: center;
   flex-wrap: wrap;
   
     flex-direction: row;
    
        
    } 
    




.comp{
    
        width: 1000px;
        height: 500px;
        border: 1px solid grey;
        display: flex;
        align-items: center;
        flex-direction: row;
       justify-content: space-around;
        background-image: url(loc.jpg);
        color: white;
      
}

.box {
   display: flex;
    width: 300px;
    height: 200px;

    color: white;
    margin-right: 100px;
    flex-wrap: wrap;
   
}

h3 {
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
    background-color: black;
}




#lock {
    color: white;
    text-align: center;

    
    
}



.conn h5 {

    color: white;
    text-align: center;
 



}





